

body {
    font-family:Arial, Helvetica, sans-serif;
    font-family: ro;
    background-color: rgb(66, 66, 66);
    display: flex;
    justify-content: center;
}
section {
    width: 70%;
}
form {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
textarea {
    font-family:Arial, Helvetica, sans-serif;
    width: 80%;
    height: 2rem;
}  

button {
    padding: 10px 20px;
    background-color: #2e2e2e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
button:hover {
    background-color: #bdbdbd;
  }
  
button:active {
    background-color: #bdbdbd;
  }
  .comentarios {
    margin-top: 20px;
    list-style: none;
    padding: 0;
}

.comentarios li {
    background: rgb(34, 34, 34);
    color: aliceblue;
    padding: 10px;
    border-left: 5px solid #007BFF;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
.btnDelete {
    margin-left: 10px;
    cursor: pointer;
}